# 제어문
* if : 특정조건이 True / False ==> 실행
* while : 계속반복
* for : 특정시점까지 반복

## if

In [1]:
if True:
    print("True")

True

In [2]:
if False:
    print("False")

In [3]:
if 1 < 3:
    print("1이 3보다 작다.")

1이 3보다 작다.

In [11]:
a = 13
b = 12

if a < b:
    print("a({a})가 b({b})보다 작다.".format(a=a, b=b))
else:
    print("a({a})가 b({b})보다 크다.".format(a=a, b=b))

a(13)가 b(12)보다 크다.

## While, For

In [13]:
# while
age = 20

while age < 30:
    print("20대에 나이를 먹었습니다. 현재나이:{age}".format(age=age))
    age += 1

20대에 나이를 먹었습니다. 현재나이:20
20대에 나이를 먹었습니다. 현재나이:21
20대에 나이를 먹었습니다. 현재나이:22
20대에 나이를 먹었습니다. 현재나이:23
20대에 나이를 먹었습니다. 현재나이:24
20대에 나이를 먹었습니다. 현재나이:25
20대에 나이를 먹었습니다. 현재나이:26
20대에 나이를 먹었습니다. 현재나이:27
20대에 나이를 먹었습니다. 현재나이:28
20대에 나이를 먹었습니다. 현재나이:29

In [14]:
# for
animals = ["강이지", "고양이", "참새", "이구아나"]

for animal in animals:
    print("나는 {animal}을 키운다.".format(animal=animal))

나는 강이지을 키운다.
나는 고양이을 키운다.
나는 참새을 키운다.
나는 이구아나을 키운다.

In [15]:
for number in range(10):
    print("hello world {number}".format(number=number))

hello world 0
hello world 1
hello world 2
hello world 3
hello world 4
hello world 5
hello world 6
hello world 7
hello world 8
hello world 9

In [17]:
for _ in range(10): # 변수명이 아무의미 없을때 언더바로 표시
    print("hello world")

hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world

### 별찍기 예제

In [33]:
# """
# 1번.
# *
# **
# ***
# ****
# *****

# 2번.
#     *
#    **
#   ***
#  ****
# *****

# 3번.
# *****
# ****
# ***
# **
# *

# 4번.
# *****
#  ****
#   ***
#    **
#     *
# """

### 1번

In [27]:
for i in range(5):
    star = ""
    for j in range(i+1):
        star += "*"
    print(star)

*
**
***
****
*****

In [28]:
star = ""

for i in range(5):
    star += "*"
    print(star)

*
**
***
****
*****

In [29]:
for i in range(5):
    print("*" * (i+1))

*
**
***
****
*****

### 2번

In [62]:
for i in range(5):
    print((" ") * (5-i) + "*" * (i+1))

     *
    **
   ***
  ****
 *****

### 3번

In [51]:
for i in range(5):
    print((5-i) * "*")

*****
****
***
**
*

### 4번

In [63]:
for i in range(5):
    print((" ") * (i+1) + "*" * (5-i))

 *****
  ****
   ***
    **
     *